:root {
  --default-dark-color: #222;
  --default-light-color: #eee;
  --secondary-dark-color: #248;
  --secondary-light-color: #57b;
  --other-color-green: #284;
  --other-color-yellow: #ed3;
}

.textWhite {
  color: var(--default-light-color);
}

.textGreen {
  color: var(--other-color-green);
}

.textYellow {
  color: var(--other-color-yellow);
}

#app {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--secondary-light-color), var(--secondary-dark-color));
}

#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5%;
  width: 100%;
  min-height: 10vh;
}

.title {
  margin: 0;
}

#gameArea {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 80vh;
  background-color: var(--default-light-color);
}

#appFooter {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 10vh;
}