.healthBarBackground {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40%;
    height: 3vh;
    background-color: #523;
    border-radius: 1.5vh;
    box-shadow: 5px 10px 10px #999;
}

.healthBarForeground {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e24;
    border-radius: 1.5vh;
}

#playerHealthBar {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}